:root {
  --colorOne: #004e98;
  --colorTwo: #3a6ea5;
  --colorThree: #c0c0c0;
  --colorFour: #ebebeb;
  --colorFive: #ff6700;
}

.fondoProfile {
  background: transparent !important;
  backdrop-filter: blur(8px) !important;
  border: 1px solid var(--colorThree) !important;
  border-radius: 10px !important;
  box-shadow: 1px 1px 15px 5px rgba(235, 235, 235, 0.6) !important;
}

.cardProfile {
  margin-top: 80px !important;
}

.btnEditar {
  background: var(--colorTwo) !important;
  border: 1px solid var(--colorTwo) !important;
}

.btnCerrarSesion {
  background: var(--colorOne) !important;
  border: 1px solid var(--colorOne) !important;
}
