:root {
  --colorOne: #004e98;
  --colorTwo: #3a6ea5;
  --colorThree: #c0c0c0;
  --colorFour: #ebebeb;
  --colorFive: #ff6700;
}

/* #imgFondo {
  background-image:url('https://cdn.pixabay.com/photo/2017/04/07/01/01/bar-2209813_1280.jpg') ;
} */

.formbg {
  background-color: #ebebeb;
  border-radius: 3%;
}

.btnRegister {
  background-color: var(--colorOne) !important;
}