:root {
  --colorOne: #004e98;
  --colorTwo: #3a6ea5;
  --colorThree: #c0c0c0;
  --colorFour: #ebebeb;
  --colorFive: #ff6700;
}

.bgNav {
  background: transparent;
  /* position: fixed !important;
  width: 100vw !important; */
}

.bgColorLogo {
  background-color: var(--colorFour);
  padding: 0 10px;
  border-radius: 10px;
}

.imgLogo {
  width: 50px;
}

.colorLogo {
  color: var(--colorOne);
  font-size: large;
  font-weight: bold;
}

.linkNav {
  text-decoration: none;
  background-color: var(--colorFour);
  padding: 0 10px;
  border-radius: 10px;
}

.btnNav {
  background-color: var(--colorFour) !important;
  color: var(--colorOne) !important;
  font-weight: 500 !important;
  border: var(--colorFour) !important;
  margin: 5px 5px;
  border-radius: 10px !important;
  transition: all 0.3s;
}

.btnNav:hover {
  color: var(--colorFive) !important;
}

.navbarToggler {
  border: none !important;
}

.navbarToggler:focus {
  box-shadow: none !important;
}

#btnCerrarSesion {
  background-color: var(--colorOne) !important;
}