:root {
  --colorOne: #004e98;
  --colorTwo: #3a6ea5;
  --colorThree: #c0c0c0;
  --colorFour: #ebebeb;
  --colorFive: #ff6700;
}

.fondoLogin {
  background-image: url(https://i.ibb.co/16672sh/Dise-o-sin-t-tulo-13.png);
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin: 25px 2.5px 0 2.5px !important;
  border-radius: 15px;
  height: 500px;
}

.btnLogin {
  background-color: var(--colorOne) !important;
  border: var(--colorOne) !important;
  transition: all 0.3s;
}

.btnLogin:hover {
  color: var(--colorFive);
}

.btnReg {
  text-decoration: none;
  color: var(--colorFive);
  transition: all 0.3s;
}

.btnReg:hover {
  color: var(--colorFive);
}

#email,
#password {
  background-color: transparent;
  color: var(--colorFour);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

#email::placeholder,
#password::placeholder {
  color: var(--colorThree);
}
