:root {
  --colorOne: #004e98;
  --colorTwo: #3a6ea5;
  --colorThree: #c0c0c0;
  --colorFour: #ebebeb;
  --colorFive: #ff6700;
}

.fondoLogin {
  /* background-color: var(--colorFour); */
  /* background-image: url(https://th.bing.com/th/id/OIG3.V6mpiGRiZRXZl4gVmyzf?pid=ImgGn); */
  /* background-image: url(https://th.bing.com/th/id/OIG2.4O0R3q62WRcZ_pJ.1VIf?pid=ImgGn); */
background-image: url(https://i.ibb.co/16672sh/Dise-o-sin-t-tulo-13.png);
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 10px 0;
  border-radius: 15px;
  height: 550px;
}

.btnLogin {
  background-color: var(--colorOne) !important;
  border: var(--colorOne) !important;
  transition: all 0.3s;
}

.btnLogin:hover {
  color: var(--colorFive);
}

.btnReg {
  text-decoration: none;
  color: var(--colorFive);
  transition: all 0.3s;
}

.btnReg:hover {
  color: var(--colorFive);
}

#email, #password {
  background-color: transparent;
  color: var(--colorFour);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

#email::placeholder, #password::placeholder {
  color: var(--colorThree);
}



