:root {
  --colorOne: #004e98;
  --colorTwo: #3a6ea5;
  --colorThree: #c0c0c0;
  --colorFour: #ebebeb;
  --colorFive: #ff6700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorOne);
  color: white;
  padding: 10px 20px;
  position: fixed !important;
  top: 0;
  width: 100%;
  box-sizing: border-box; 
  z-index: 1000; 
}

.cart-icon {
  cursor: pointer;
}

.btnQuantily{
  background: transparent !important;
  border: 1px solid var(--colorFour) !important;
}

.ofCart {
  background-color: #000 !important;
}