:root {
    --colorOne: #004e98;
    --colorTwo: #3a6ea5;
    --colorThree: #c0c0c0;
    --colorFour: #ebebeb;
    --colorFive: #ff6700;
  }


#img1 {
  background-image: url('https://i.ibb.co/J2PpZpt/cerveza3.png');
  background-size: cover;
  background-position: center;
}

#logo1{
  position: absolute;
  top: 60px; 
  width: 100%; 
}

.letra1 {
  z-index: 2;
  text-align: center;
  color: #EBEBEB;
  font-size: 40px;
  padding: 10px;
  border-radius: 50px;
  text-shadow: var(--colorOne);
  background-color: rgba(121, 69, 6, 0.685);
}

#boton1 {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 1px;
  padding: 6px;
  padding-top: px;
  background-color: #000000;
  color: #fff;
  border: 1;
  border-color: var(--colorThree);
 
}

.modal1 {
  background-color: #000000 !important;
}

.boton2 {
  position: relative;
  background-color: #850a0a !important;
  color: #fff;
  border: 1;
  border-color: var(--colorThree) !important;
}

.boton3 {
  background-color: green !important;
}

.card2 {
  display: flex;
  width: 100%;
}

.cardBody {
  width: 50%;
}

.cardImg {
  width: 200%;
  object-fit: cover;
}